In [11]:
import pandas as pd

from database_config import conn

#Get the previous date
from datetime import date, timedelta, datetime

import time

# Checking the information relating to product id and product groupings.

In [66]:
query = ("""
SELECT
    p.id as product_id, 
    pg.grouping_id, 
    customer_id
FROM products as p
LEFT JOIN (SELECT grouping_id,product_id FROM product_groupings WHERE customer_id = 13) as pg 
on p.id = pg.product_id
WHERE customer_id = 13
AND type = 'sku'

""")

In [67]:
#reading in the data to pandas
df = pd.read_sql(query,conn)

In [103]:
#number of unique product
len(df['product_id'].unique())

92033

In [105]:
#Number of unique product IDs without a grouping
df[df['grouping_id'].isnull()].shape[0]

74580

In [112]:
#unique product groupings
len(df[df['grouping_id'].isnull() == False]['grouping_id'].unique())

4712

In [60]:
grouped = df[['grouping_id','product_id']].groupby(by=['grouping_id']).count()

In [117]:
#data preview
grouped.iloc[:20]

             product_id
grouping_id
462074.0              1
462075.0              4
462076.0              1
462077.0              1
462078.0              1
462079.0              1
462080.0              1
462081.0              1
462082.0              1
462083.0              4
462084.0              1
462085.0              1
462087.0              3
462089.0              4
462090.0              1
462091.0              1
462092.0              1
462093.0              1
462094.0              1
462095.0              1

In [62]:
#Total products that are in a grouping
grouped.sum()

product_id    17506
dtype: int64

In [65]:
#unique grouping ID
len(grouped.index)

4712